.banner{
    margin-bottom: 60px;
    @include tablet(){
        margin-bottom: 0px;
    }
}
.main{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-bottom:40px;
    @include tablet (){
        justify-content: center;
    }
}
.category{
    font-size: $font-l;
    width: 33%;
    line-height: 40px;
    font-weight: bolder;
    text-align: center;
    @include tablet(){
        width: 100%;
        margin-bottom: 30px;
    }
    & h2{
        background: $green-dark;
        color: white;
        padding:16px 0;
    }
}
.category li{
    border: 1px solid $green-light;
    & a{
        padding:16px 0;
        display:block;
        text-decoration:none;
        color:$green-dark;
        &:hover{
            background: $green-light;
        }
    }
}
.products{
    width: 66%;
    @include tablet(){
        width: 100%;
    }
}
.products ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & li{
        margin-bottom:20px;
        position: relative;
        @include tablet(){
            margin-bottom: 30px;
        }
    }
}
.fav{
    position: absolute;
    right: 22px;
    top: 19px;
    &:hover{
        border-radius: 100%;
        background-color:#fca5c9;
        transform: scale(1.5);
    }
}
.tag{
    position: absolute;
    left: 20px;
    top:0;
    background: $green-dark;
    width: 16px;
    height: 87.4px;
    padding:10.08px 10px 9.24px 10px;
    color: $green-light;
    font-size:$font-s;
    line-height: 20px;
    writing-mode: lr;
}
.item{
    color: $green-dark;
    font-size:$font-m;
    display:flex;
}
.name{
    width: 105px;
    line-height: 20px;
    padding:14px 33px;
    border: 1px solid $green-light;
}
.price{
    font-weight:bolder;
    line-height: 24px;
    padding:14px 20px 14px 25px;
    border: 1px solid$green-light;
}
.cart-btn{
    display: block;
    color: $green-dark;
    font-size:24px;
    text-decoration:none;
    background:$green-light;
    font-weight: bolder;
    padding: 16px 90px;
    &:hover{
        color: $green-light;
        background: $green-dark;
    }
}
.page{
    margin-top: 10px;
    @include tablet(){
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
.page ul{
    display:flex;
    justify-content:flex-end;
    & li{
        display: block;
        width: 60px;
        height: 60px;
        text-decoration:none;
        border: 1px solid $green-light;
        & a{
            text-decoration:none;
        }
    }
}
.arrow {
    display: block;
    padding: 18px;
    &:hover{
        background: $green-light;
    }
}
.pagenumber{
    display: block;
    font-size: $font-ms; 
    height: 28px;
    color:$green-dark;
    padding: 16px 24px;
    &:hover{
        color:$green-light;
        background:$green-dark;
    }
}