.navbar{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    position: relative;
    & .active{
        max-height: 200px;
    }
    @include tablet(){
        padding: 0px 30px;
    }
    &-toggler{
        display: none;
        border: none;
        background: transparent;
        cursor: pointer;
        @include tablet(){
            display: block;
            padding: 5px;
            &:focus{
                outline: 0;
            }
        }
    }
}
.logo{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logo-all-dark.svg);
    width: 220px;
    height: 40px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background-repeat: no-repeat;
    @include tablet(){
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/student-week1/logotype-sm-dark.svg);
        width: 116px;
        height: 20px;
        margin-top: 7px;
    }
}
.navbar-nav{
    display: flex;
    align-items: center;
    max-height: 0px;
    @include tablet(){
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        transition: all 0.8s;
        overflow: hidden;
        background: white;
        flex-direction: column;   
    }
} 
.navbar-collapse{
    display: flex;
    align-items: center;
} 
.nav-link{
    color:$green-dark;
    font-weight: bold;
    padding: 0 30px;
    display: block;
    @include tablet(){
        padding: 10px 0;
        text-align: center;
    }
}
.nav-item{
    &:hover{
        text-decoration:underline;
        background-color:$green-light;
        transform: scale(1.2);
    }
    @include tablet(){
        width: 100%;
    }
}
.navbar-link{
    padding-left: 30px;
    @include tablet(){
        padding-left: 0;
    }
}
.footer-email {
    padding: 30px 122px;
    background:$green-dark;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include tablet(){
        padding: 30px ;
    }
}
.email-text{
    display: flex;
    align-items: center;
    @include tablet(){
        margin-bottom: 30px;
    }
    & img{
        display: block;
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
    & p{
        font-weight: bold;
        font-size:$font-l;
        line-height: 29px;
        color: $green-light;
        @include tablet(){
            font-size: $font-m;
        }
    }
}
.email-enter{
    background:$green-light;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include tablet(){
        width: 315px;
    }
    & img{
        width: 24px;
        height: 24px;
        position: absolute;
        left: 16px;
    }
    & input{
        background:$green-light;
        border: none;
        width: 220px;
        padding: 16px;
        margin-left: 56px;
        @include tablet(){
            width: 45%;
        }
    }
}
.btn{
    width: 64px;
    height: 56px;
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_forward-24px.png?raw=true);
    background-color: #FFE180;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    display: block;
    cursor: pointer;
}
.footer-info{
    background-color:$green-light;
    display: flex;
    justify-content: space-between;
    padding: 40px 122px;
    @include tablet(){
        padding:40px 0px 30px 30px;
        display: flex;
        flex-direction: column;
    }
}
.footerLogo {
    display: block;
    max-width: 171px;
    margin-bottom: 115px;
    @include tablet(){
        margin-bottom: 40px;
    }
}
.info-message ul {
    margin-bottom: 30px;
    @include tablet(){
        margin-bottom: 37px;
    }
    & li{
        font-size: $font-s;
        line-height: 24px;
        color: $green-dark;
    }
}
.footerLinks{
    display: flex;
    margin-top: 30px;
    @include tablet(){
        margin-bottom: 23px;
    }
    & a{
        display: block;
        margin-right: 10px;
    }
    & img{
        width: 32px;
        height: 32px;
    }
}
.info-copyright{
    & h2{
        writing-mode: vertical-rl;
        font-size: 23px;
        font-weight: bold;
        line-height: 30px;
        letter-spacing:6px;
        color: $green-dark;
        float: right;
        @include tablet(){
            display: none;
        }
    }
    & p{
        color: $green-dark;
        clear: both;
    }
}